<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: metatags(name='Form a Pizza')">

</head>
<body>
    <header th:insert="fragments :: navbar('')"></header>
    <div class="container">
        <form id="pizza-form" th:object="${pizza}" th:action="@{/add}" method="Post">
            <div class="my-3">
                <label for="name" class="form-label">Nome Pizza</label>
                <input type="text" class="form-control" id="name" required th:field="*{name}">
                <div class="form-text">Ricordati di dare un nome alla tua nuova pizza.</div>
            </div>
            <div class="mb-3">
                <label for="desc">Descrivi brevemente la tua pizza</label>
                <textarea class="form-control" placeholder="Descrizione della tua pizza" id="desc" th:field="*{description}"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Prezzo</label>
                <input type="text" class="form-control" id="price" required pattern="[0-9]*[.]?[0-9][0-9]" th:field="*{price}">
            </div>
            <button type="submit" class="btn btn-danger my-3">Submit</button>
        </form>
    </div>
</body>
</html>