<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: metatags(name='Pizza Home')">
    
</head>
<body>
    <header th:insert="fragments :: navbar('')"></header>
    <h1 class="text-center">Ecco le nostre pizze</h1>
	<div class="container" th:if="${deleted != null && deleted != ''}">
		<div  class="alert alert-success" th:text="${deleted}"></div>
	</div>
    <hr>
	<div class="container" th:if="${pizz.size() > 0}">
    	<table class="table table-striped border">
        	<thead>
            	<tr>
                	<th>Nome</th>
                	<th>Descrizione</th>
                	<th>Prezzo</th>
					<th>Azioni</th>
            	</tr>
        	</thead>
        	<tbody>
           		<tr th:each="p : ${pizz}">
                	<td th:text="${p.name}"></td>
                	<td th:text="${p.description}"></td>
                	<td th:text="${p.price}+€"></td>
					<td>
						<a class="btn btn-danger" title="Delete" th:href="@{|/delete/${p.id}|}" onclick="return confirm('Sei sicuro?')"><i class="fa-solid fa-ban"></i></a>
						<a class="btn btn-warning" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
					</td>
            	</tr>
        	</tbody>
    	</table>
	</div>
	<div class="container">
    <p th:unless="${pizz.size() > 0}" class="text-center">Nessuna pizza trovata</p>
	<a class="btn btn-danger" href="/add">Aggiungi pizza</a>
	</div>
</body>
</html>