<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: metatags(name='Pizza Home')">
    
</head>
<body>
    <header th:insert="fragments :: navbar('')"></header>
    <h1 class="text-center">Ecco le nostre pizze</h1>
    <hr>
	<div class="container" th:if="${pizz.size() > 0}">
    	<table class="table table-striped border">
        	<thead>
            	<tr>
                	<th>Nome</th>
                	<th>Descrizione</th>
                	<th>Prezzo</th>
            	</tr>
        	</thead>
        	<tbody>
           		<tr th:each="p : ${pizz}">
                	<td th:text="${p.name}"></td>
                	<td th:text="${p.description}"></td>
                	<td th:text="${p.price}"></td>
            	</tr>
        	</tbody>
    	</table>
	</div>
    <p th:unless="${pizz.size() > 0}" class="text-center">Nessuna pizza trovata</p>
</body>
</html>